<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels</title>
</head>
<body>
    <h2>Hotels and Ratings</h2>
    <table border="1">
        <th>ID</th>
        <th>Hotel</th>
        <th>Rating</th>
        {% for hotel in hotel_ratings%}
        <tr>
            <td>{{hotel.id}}</td>
            <td>{{hotel.name}}</td>
            <td>{{hotel.rating}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>